@import "~normalize.css";
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap");

@import "_variables";
@import "modules/hello.scss";

@keyframes heartEffect{
  0% {
    transform: scale(1); 
  }
  50% {
    opacity: .3;
    transform: scale(1.5) rotate(15deg); 
  }
  100% {
    transform: scale(1); 
  }
}

html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  background: $wtf;
  color: #000;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  font-family: "Open Sans";
  padding: 16px;
}

.button {
  margin-left: 32px;
  font-weight: 600;
  font-size: 14px;
  line-height: 16 px;
  color: #121232;
  background: #fafafc;
  border: 1px solid #121232;
  border-radius: 4px;
  padding: 12px 16px;
  transition: color 0.3s linear, border-radius 0.3s ease-in-out, border 0.3s linear;

  &:hover {
    color: green;
    border-radius: 50%;
    border: 2px solid green;
  }
  
  &--save {
    color: #fafafc;
    background: #121232;
    border: 1px solid #121232;
  }
}